.post-text {
    margin: 15px 0;
    font-size: 12px;
    line-height: 18px;
    color: rgba(18, 21, 29, 0.87);
    font-family: Open Sans;
}

.post-stats {
    font-family: Poppins;
    display: flex;

    .stat {
        display: flex;
        align-items: center;
        margin-right: 13px;
        position: relative;

        img {
            margin-right: 8px;
            cursor: pointer;
        }

        .stat-icon {
            margin-right: 8px;
            width: 16px;
            height: 16px;
        }

        svg {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
        }

        .stat-number {
            font-size: 12px;
            font-weight: bold;
        }

        .stat-type {
            font-size: 10px;
            margin-left: 3px;
            color: #12151D;
            opacity: .6;
        }
    }
}